@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (ContactUs)Model.Content;
    //var settings = (ContactUs)Model.Content;
    var sectionBackgroundImage = content.BackgroundImage;
    var backgroundImage = "";

    @if (sectionBackgroundImage != null)
    {
        backgroundImage = sectionBackgroundImage.Url();

    }
}
<style>
    .form-fields {
        background-image: url( @backgroundImage );
    }

    iframe.google-map {
        height: 300px;
        width: 100%;
    }
    .thank-you-modal {
        display: none;
    }
    .thank-you-modal.modal {
        position: fixed;
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .thank-you-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 150px 50px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 0.4s;
    position: relative;
    text-align: center;
    border-radius: 15px;
    max-width: 800px;
    }

   .thank-you-modal .close-btn {
        position: absolute;
        top: -5px;
        right: -6px;
        width: 25px;
        height: 25px;
        background-color: #0079b2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #fff;
    }


</style>
<div class="form-fields">
  <div class="w-row">
    <div class="w-col w-col-6">
      <div class="form-block w-form">
        <form action="https://api.web3forms.com/submit"
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="POST"
          data-wf-page-id="64d16f3ec72eb5e6781506fc"
          data-wf-element-id="c23843d8-d750-6151-968f-9ef023407470"
          aria-label="Email Form"
        >
         <input type="hidden" name="access_key" value="6f05d583-4a65-470e-a0c4-6db9d3356a00">
          <label for="name-3" class="field-label">Name</label
          ><input
            class="text-field-2 w-input"
            maxlength="256"
            name="name-3"
            data-name="Name 3"
            placeholder="Name"
            type="text"
            id="name-3"
          /><label for="email" class="field-label">Email Address</label
          ><input
            class="text-field-2 w-input"
            maxlength="256"
            name="email"
            data-name="Email"
            placeholder="Email"
            type="email"
            id="email"
            required=""
          /><input
            class="text-field-2 w-input"
            maxlength="256"
            name="Phone"
            data-name="Phone"
            placeholder="Phone"
            type="tel"
            id="Phone"
            required=""
          /><textarea
            id="field"
            name="field"
            maxlength="5000"
            data-name="Field"
            placeholder="Message"
            class="textarea w-input"
            required=""
          ></textarea>
          <div class="newsletter-signup"></div>
          <input
            type="submit"
            data-wait="Please wait..."
            class="submit-button w-button"
            value="Submit"
          />
        </form>
        <div id="result"></div>
        <div
          class="w-form-fail"
          tabindex="-1"
          role="region"
          aria-label="Email Form failure"
        >
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="w-col w-col-6">
      <div class="form-right">
        <div class="div-block-13">
          <div class="introduction">
           @content.TextContent
          </div>
        </div>
        <div class="div-block-16">
           <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3817.227375404032!2d125.1742718!3d6.1274929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32f79f004e3867ab%3A0xc96307fd1e50a3ce!2sSFFAII%20and%20SOCOPA!5e1!3m2!1sen!2sph!4v1740553825898!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="div-block-14">
          <div class="div-block-15">
            <img
              src="https://cdn.prod.website-files.com/64565d5e09c5e188520f8fdf/6470854eb9d9e13ff8079516_Phone%20Icon.png"
              loading="lazy"
              alt=""
            />
            <div class="text-block">@content.PhoneNumber</div>
          </div>
          <div class="div-block-15">
            <img
              src="https://cdn.prod.website-files.com/64565d5e09c5e188520f8fdf/6470854eb9d9e13ff8079518_Email%20Icon.png"
              loading="lazy"
              alt=""
            />
            <div class="text-block">@content.Email</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal thank-you-modal" id="thankYouModal">
    <div class="modal-content">
        <h2>Thank You!</h2>
        <p>Your message has been submitted successfully.</p>
        <a href="#" class="close-btn">x</a>
    </div>
</div>
<script>
    const form = document.getElementById("email-form");
    const result = document.getElementById("result");

    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
      result.innerHTML = "Please wait...";
      const modalElement =
        document.getElementsByClassName("thank-you-modal")[0];
      fetch("https://api.web3forms.com/submit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: json,
      })
        .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
            result.innerHTML = json.message;
               const modal = document.getElementById("thankYouModal");
                if (modal) {
                    modal.style.opacity = 0;
                    modal.style.display = "block";

                    let opacity = 0;
                    const fadeIn = setInterval(() => {
                        opacity += 0.1;
                        modal.style.opacity = opacity;
                        if (opacity >= 1) clearInterval(fadeIn);
                    }, 30);
                }
            console.log("sucess");
          } else {
            console.log(response);
            result.innerHTML = json.message;
          }
        })
        .catch((error) => {
          console.log(error)
          result.innerHTML = "Something went wrong!";
        })
        .then(function () {
          form.reset();
          setTimeout(() => {
            result.style.display = "none";
          }, 3000);
        });
    });

    function closeModal() {
      document.getElementById("thankYouModal").style.display = "none";
    }

    // Optional: Close modal when the 'Close' button is clicked
    document.querySelector("#thankYouModal .close-btn").addEventListener("click", function () {
      closeModal();
    });

</script>