@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (ImageGallery)Model.Content;

}

<!-- Gallery -->
<div class="row">
    @foreach (var block in content.BlockList)
    {
        var imageGallery = block.Content as BlockGridImage;
        if (imageGallery != null)
        {
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <a href="@imageGallery.Image.MediaUrl()">
                    <img src="@imageGallery.Image.MediaUrl()"
                         class="w-100 shadow-1-strong mb-4"
                         alt="@imageGallery.ImageAlt" />
                </a>
            </div>
        }
    }
</div>
<!-- Gallery -->